<%- include('partials/header') %>

  <h1>My Profile</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt perferendis minima possimus iste omnis vitae quibusdam suscipit quae modi minus magni molestiae quas, libero aut consectetur sapiente maiores inventore nisi optio sequi doloremque. Minus, asperiores! Ab similique nobis debitis. Magni ut tempore laudantium in suscipit nam, molestias praesentium dolorum sit!</p>
  <a href="/logout">Log Out</a>

<%- include('partials/footer') %>